{% extends 'global/base.html' %}

{% block content %}
{% if page_obj %}
    <div class="responsive-table">
        <table class="contacts-table">
            <caption class="table-caption">
                Contacts
            </caption>
            <thead>
                <tr class="table-row table-row-header">
                    <th class="table-header">ID</th>
                    <th class="table-header">First Name</th>
                    <th class="table-header">Last Name</th>
                    <th class="table-header">Phone</th>
                    <th class="table-header">Email</th>
                </tr>
            </thead>

            <tbody>
                {% for c in page_obj %}
                    <tr class="table-row">
                        <td class="table-cel">
                            <a href="{% url 'contact:contact' c.id %}" class="table-link">
                                {{c.id}}
                            </a>
                        </td>
                        <td class="table-cel">{{c.first_name}}</td>
                        <td class="table-cel">{{c.last_name}}</td>
                        <td class="table-cel">{{c.phone}}</td>
                        <td class="table-cel">{{c.email}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
<div class="single-contact">
    <h1 class="single-contact-name">
        Nenhum contato encontrado
    </h1>
</div>
{% endif %}
{% endblock content %}